<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
</head>
<body>
    
    <form action="user" method="post">
        <table>
            <tr> <th><label>User Name</label></th>
            <td><input type="text" name="username" required></td>
        </tr>
        <tr>
            <th><label>password</label></th>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr></table>

    </form>
{{tes}}
</body>
</html>